.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    align-self: center;

    width: 300px;
    height: 300px;

    border: solid black 8px;
    background-color: #0b8000;
    border-radius: 12px;
 
    padding: 20px;
    gap: 15px;
}

.login-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
  text-align: center;
}

.login-input {
  padding: 10px;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

.login-button {
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #0b8000;
  color: white;
  font-size: 16px;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center;  
  flex: 1;                 
}